/* SACO LOS ELEMENTOS QUE POR DEFECTO  QUE TRAE CSS Y AGREGO ALGUNAS COSAS QUE VAN PARA TODO EL HTML */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  
}
/* ------------ CLASE DEL HEADER (CABECERA) -------- */
.cabecera{
  position: sticky;
  top: 0;
  background-color:#e6e8e6;
}
.cabecera-div{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  }


.foto-header{
  width: 176px;
  height: 176px;
}
.logo{
  width: 176px;
  height: 176px;
  margin-right: 5px;
  
}
.cabecera-div h1{
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  text-shadow: 1px 3px black;
  color: #dda15e;
}


/* Barra de navegacion */
.container-fluid{
  background-color:darkmagenta;
}
.navbar-collapse{
  text-align: center; 
  font-size: 1.3rem;
}

.navbar-brand:hover, .navbar-brand:focus{
  color: #dda15e;
}
.navbar-brand{
  font-weight: bold;
  color: #dda15e;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
.navbar-toggler{
  background-color: cornflowerblue;
  border-radius: 15px;
  border: 1px solid navajowhite;
}
.nav-link:hover {
  background-color: black;
  color:bisque;
  font-size: 1.5rem;
  border-radius: 10px;
}
.nav-link{
  color: white;
  margin-left: 15px;
}

/* ----------------- MAIN (CLASE CONTENEDOR) -------------------------- */
.main-contenedor{
  background-color: #5c677d;
}
.main-div-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contenedor h2{
  color: #dda15e;
  text-align: center;
  font-size: 2rem;
  width: 70%;
}

.main-img{
  width: 70%;
  margin: 1rem;
}
.main-contenedor img{
  width: 100%;
}

.main-a a{
  color: black;
  border: black 2px solid;
  border-radius: 10px;
  background-color: #e6e8e6;
  text-decoration: none;
}
.main-a a:hover{
  font-size: 2rem;
  background-color: #dda15e;
}
.main-img2{
  width: 70%;
  margin: 1rem;
}


.reproductor{
  width: 70%;
  margin: 1rem;
}
.main-contenedor div iframe{
  width: 100%;
}

/* ----------------- FOOTER (CLASE FOOTER) -------------------- */
.footer{
  background-color: #e6e8e6;
  border: black solid;
  display:flex;
  justify-content: space-around;
  padding: .6rem;
}

.footer-h3{
  color: #dda15e;
  text-align: end;
  width: 300px;
}
.footer-a{
  margin-top: 50px;
}
.footer-a button{
  margin-left: 15px;
}
.footer-a button:hover{
  background-color: #dda15e;
  font-size: x-large;
}
.footer-logo img{
  width: 150px;
  height: 150px;
}


/*--------------- SECCION VIDEOS ------------------*/
.contenedor-videos{
  text-align: start;
  display: grid;
  grid-template-rows: (4,300px);
  justify-content: center;
  padding: 1rem;
  background-color: #5c677d;
}
.contenedor-videos h2{
  color: #dda15e;
  text-align: center;
  font-size: 2rem;
  width: 70%;
}
.main-video-principal{
  width: 100%;
  max-width: 100%;
  grid-column: span 2;
  grid-row: span 1;
  text-align: center;
}
.main-video{
  text-align: center;
  width: 100%;
  max-width: 100%;
  grid-column: span 1;
  grid-row: span 1;
  padding: 1rem;
}

.main-video-principal iframe{
  border: black dashed 3px;
  border-radius: 15px;
}

/*----------------------- SECCION SOBRE MI  ------------------*/
.main-about h2{
  color: #dda15e;
  text-align: center;
  font-size: 2rem;
  width: 35%;
}

.main-about-sec{
  display: grid;
  padding:1rem;
}
.main-about-sec h3{
  grid-column: span 2;
  text-align: center;
}
.main-about-img-left img{
  width: 100%;
  padding: 1rem;
  object-fit: contain;
  
}
.main-about-img-right img{
  width: 100%;
  padding: 1rem;
  object-fit: contain;
}
.main-about-img-left{
  width: 80%;
  justify-self: center;
  align-self: center;
}
.main-about-img-right{
  width: 80%;
  justify-self: center;
  align-self: center;
}
.main-about-p{
  align-self: center;
}
.main-about-p p{
  font-size: 1.5vw;
}
.main-img-jov{
  width: 80%;
  justify-self: center;
  align-self: center;
}
.main-img-jov img{
  width: 100%;
}

.main-about-destacado h4{
  text-align: center;
  padding: .3rem;
}
.main-about-destacado ul li{
  font-size: 2vw;
  padding: .5rem;
}
/* ----------------------- Seccion Mi Música  --------------------- */
.main-musica{
  background-color: #5c677d;
  padding: 1rem;
}
.main-div-musica{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-musica h2{
  color: #dda15e;
  text-align: center;
  font-size: 2rem;
  width: 35%;
}

.main-musica h3{
  width: 80%;
  text-align: center;
}

.main-disco{
  width: 70%;
  margin-bottom: 30px;
  justify-self: center;
  align-self: center;
}
.main-disco img{
  width: 90%;
  justify-self: center;
  align-self: center;
}
.main-canciones{
  width: 80%;
}
.main-canciones iframe{
  width: 100%;
  height: 100px;
  margin: .4rem;
}

/* --------------------------------- Sección Contacto -------------------------- */
.main-contacto{
  background-color: #5c677d;
  padding: 2rem;
}


.main-contacto h2{
  color: #dda15e;
  text-align: center;
  font-size: 2rem;
  width: 35%;
}
.main-formulario {
  width: 60%;
  margin: 0 auto;
}

.main-form h3{
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-top: 10px;
  margin-left: 25px;
}


input[type="submit"],
input[type="reset"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
  background-color: aquamarine;
  font-size: 1.5rem;
}
.main-form-bot{
  display: flex;
}
.main-form-bot input{
  border: #dda15e solid 2px;
  width: 300px;
}
.form-group{
  display: flex;
}
.contact-img{
  text-align: center;
  padding: 1rem;
  width: 100%;
}
.contact-img img{
  width: 60%;
}

/* ---------------------------- Media Query for Mobile Devices (max-480) -------------------------- */
@media (max-width: 480px) {
  .foto-header{
    display: none;
  }
  .cabecera-div h1{
    margin-left: 0;
  }
  
  .footer{
    padding: .6rem;
  }
  .footer-logo{
    display: none;
  }
  .footer-h3{
    display: none;
  }
  .footer-a{
    margin-top: 0;
    margin-left: 20px;
  }
  .footer-a button{
    margin: 5px 10px;
  }

  /* ---------------------SECCION VIDEOS ------------------------------------------ */
  
  .contenedor-videos iframe{
    width: 80%;
  }
  .main-video{
    grid-column: span 2;
  }
  /* Sobre mi */
  .main-about section{
    padding: .5rem;
  }

  .main-about h2{
    font-size: 1.2rem;
  }
  .main-about h3{
    font-size: 1rem;
  }
  .main-about-p{
  grid-column: span 2;
  padding: .3rem;
  }
  .main-about-p p{
    font-size: .8rem;
  }
  .main-about-destacado h4{
    text-align: center;
    font-size: 1rem;
    padding: .3rem;
  }
  .main-about-destacado ul li{
    font-size: .8rem;
    padding: .5rem;
  }

  .main-about-img-right{
    display: none;
  }
  .main-img-jov{
    display: none;
  }
  .main-about-img-left img{
    width: 250px;
    height: 250px;
  }
  .main-about-destacado ul li{
  padding: .3rem;
  }
  
  /* ----------------- SECCION  Mi Música ---------------- */
  .main-div-musica{
    grid-template-columns: 1fr;
    padding: .5rem;
  }
  .main-musica h2{
    font-size: 1.4rem;
    width: 100%;
  }
  .main-musica h3{
    font-size: 1rem;
    margin-top: 10px;
    width: 90%;
  }
  .main-div-musica{
    padding: .4rem;
  }
  .main-disco img{
    width: 90%;
  }
  .main-canciones{
    width: 90%;
  }
  /*  Contacto */
  .main-form{
    padding: 1rem;
  }
  .main-formulario {
    max-width: 100%;
  }
  .main-contacto{
    padding: 1rem;
  }
  .main-form h2{
    font-size: .6rem;
  }
}
/* ----------------------- MEDIA QUERY (MIN-481 / MAX 767) -------------------------- */
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .foto-header{
    margin-left: 20px;
  }
  .main-contenedor img{
    width: 100%;
    height: auto;
  }

  .footer-h3{
    display: none;
  }

   /* --------------- VIDEOS ----------------------- */
  .contenedor-videos iframe{
    width: 100%;
  }
  .main-video{
    grid-column: span 2;
  }
  /* Contacto */
  .main-formulario {
    max-width: 100%;
  }
  .main-contacto{
    padding: 1rem;
  }
  /* ----------- SOBRE MÍ -------------- */
  
}

/* -------------- MEDIA QUERY (MIN: 768 / MAX: 1024) */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .cabecera-div h1{
    font-size: 2.5rem;
    margin-left: 20px;
  }
  
  .navbar-collapse{
    text-align: center; 
    font-size: 1rem;
  }
  
  .navbar-brand{
    display: none;
  }
  .main-contenedor img{
    height: auto;
  }
  .footer-h3{
    text-align: start;
  }
  
  /* ----------------------- VIDEOS ------------------------ */
  

  .contenedor-videos iframe{
    width: 100%;
  }
  .main-video{
  grid-column: span 2;

  }
  .main-video iframe{
    margin-left: 20px;
  }

}

/* ----------------------- MEDIA QUERY (MIN: 1025) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
  .cabecera-div h1{
    font-size: 3.5rem;
  }
  .navbar-collapse{
    text-align: center; 
    font-size: 1rem;
  }
  .navbar-collapse{
    text-align: center; 
    font-size: 1.2rem;
  }
  
  .navbar-brand{
    display: none;
  }
  .main-contenedor h2{
    font-size: 3rem;
  }
  .main-contenedor img{
    height: auto;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .reproductor{
    width: 100%; 
  }
  /* ---------------------- Videos -------------------------------- */
  .contenedor-videos h2{
    text-align: center;
    font-size: 3rem;
  }
  .main-video iframe{
    margin-left: 20px;
  }
  /* Sobre-Mi */
  .main-about h2{
    font-size: 3rem;
  }
  .main-about h3{
    font-size: 2rem;
  }
  /* Mí Música */
  .main-disco img{
    width: 80%;
  }
  .main-canciones{
    width: 80%;
  }

  /* ----------------- MI MÚSICA ----------- */
  .main-musica h2{
    font-size: 3rem;
  }
  .main-div-musica{
    margin-top: 15px;
  }

  /*  ---------- SOBRE MÍ -------------- */
  .main-about h2{
    font-size: 3rem;
  }

  /* --------- CONTACTO ------------ */
  .main-contenedor h2{
    font-size: 3rem;
  }
}


