/* creo las variables a utilizar en las paginas*/
//color de fondo 1
$c-fondo:#c7ac81;
//color de fondo 2
$c-fondo2: #5c677d;
//color fondo 3
$c-fondo3: #e6e8e6;
// color de letra principal
$c-letra: #e6e8e6;
//color letra 2
$c-letra2: azure;
//color negro
$c-negro: black;




/* SACO LOS ELEMENTOS QUE POR DEFECTO  QUE TRAE CSS Y AGREGO ALGUNAS COSAS QUE VAN PARA TODO EL HTML */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  
}

/* fondo de todos los main */
main{
  background: linear-gradient($c-fondo2,$c-fondo3);
  padding: 2rem;
}

/* Animación de todos los h2 */
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.parpadeante {
  animation: parpadeo 1.5s infinite;
}

/* creando diferentes mixin para utilizar en las páginas */
// este esta aplicado en el main y en el footer
@mixin contenedor-columna($justify, $direction) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: center;
}

//este está aplicado en el contenedor de videos y mí música
@mixin contenedor-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

// mi música
@mixin contenedor-video($expandir) {
  width: 100%;
  max-width: 100%;
  grid-column: $expandir;
  grid-row: span 1;
  text-align: center;
}

// sobre mí
@mixin centrar{
  width: 80%;
  justify-self: center;
  align-self: center;
}