/* --------------------------------- Sección Contacto -------------------------- */
.main-contacto{
  padding: 1rem;
  & h2{
    color: $c-letra;
    text-align: center;
    font-size: 1.6rem;
    width: 90%;
  }
}
/* Articulo que contiene todo el formulario */
.main{
  &-formulario{
    @include centrar;
    justify-content: center;
  }
  &-form{
    padding: 1em;
    @include contenedor-flex;
    & h3{
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      color: $c-letra;
    }
    & label{
      text-align: center;
      font-size: 1.1rem;
    }
  &-bot{
    justify-content: space-between;
    display: flex;
    max-width: 90%;
    }
  }
}

.form-group-novedades{
  @include contenedor-flex(start);
  width: 100%;
  & label{
    font-size: .8rem;
    margin-bottom: 10px;
  }
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

// imagen de la seccion contacto
.contact-img{
  text-align: center;
  padding: 1em;
  width: 100%;

  & img{
    width: 80%;
    object-fit: cover;
    border-radius: 13px;
    opacity: 0;
    transform: translateY(-100%);
  }
}

.main-contacto .contact-img img {
  animation: destacar 3s ease forwards;
}

@keyframes destacar {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




/* -------------- MEDIA QUERY (MIN: 768) */
/* Media Query */
@media (min-width: 768px){
  .main{
    &-contacto h2{
      width: 60%;
      font-size: 2rem;
    }
    &-form h3{
      font-size: 1.7rem;
    }
  }
  .main-form h3{
    font-size: 2rem;
  }
  .contact-img img{
    max-width: 800px;
  }
}




