// ----------------------- Seccion Mi Música  ---------------------
.main-musica {
  padding: 0.6em;
  & h2 {
    color: $c-letra2;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
}
/* seccion de todo el main */
.main {
  &-sec-musica {
    @include contenedor-flex;
  }
  /*  contenedor de la tapa del disco */
  &-disco {
    width: 80%;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
    & img {
      width: 100%;
      justify-self: center;
      align-self: center;
      object-fit: cover;
      border-radius: 13px;
      margin-bottom: 1em;
    }
    &-h3 {
      display: none;
      &-mobile {
        width: 80%;
        text-align: center;
        color: $c-letra2;
        animation: trasladar 2s ease-in-out infinite;
      }
    }
  }
}

/* contenedor de canciones */
.main-canciones {
  & iframe {
    width: 100%;
    margin-bottom: 0.6em;
  }
}

/* animaciones sobre los titulos h3*/
@keyframes trasladar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

/* ----------------------- MEDIA QUERY (MIN: 768) ------------------------ */
/* Media Query*/
@media (min-width: 768px) {
  .main {
    &-sec-musica {
      width: 100%;
      margin-top: 15px;
    }
    &-canciones {
      width: 85%;
      min-width: 250px;
      max-width: 500px;
      justify-self: center;
      align-self: center;
    }
    &-musica h2 {
      font-size: 2rem;
    }
    &-disco {
      @include contenedor-grid;
      grid-column: span 2;
      grid-row: span 1;
      width: 90%;
      justify-self: center;
      & img {
        width: 80%;
        min-width: 400px;
      }
      &-h3 {
        display: block;
        width: 80%;
        justify-self: center;
        text-align: center;
        color: $c-letra2;
        animation: trasladar 2s ease-in-out infinite;
        grid-column: span 2;
        &-mobile {
          display: none;
        }
      }
    }
  }
}
