/*----------------------- SECCION SOBRE MI  ------------------*/
.main-about{
  background-color: #5c677d;
  padding: 1rem;

  & h2{
    color: #dda15e;
    text-align: end;
    font-size: 2rem;
    width: 35%;
  }
}

/*  seccion que contiene todo el contenido del main, menos el h2 */
.main-about-sec{
  display: grid;
  padding:1rem;

  & h3{
    grid-column: span 2;
    width: 50%;
    color: #dda15e;
    font-size: 2.5rem;
  }
}

/* contiene imagenees separadas, para poder ocultar en la vista mobile */
.main-about-img-left{
  width: 80%;
  justify-self: center;
  align-self: center;

  & img{
    width: 100%;
    padding: 1rem;
    object-fit: contain;
  }
}

// contenedor de imagenes 2
.main-about-img-right{
  width: 80%;
  justify-self: center;
  align-self: center;

  & img{
    width: 100%;
    padding: 1rem;
    object-fit: contain;
  }
}

/* contenedor de los parrafos */
.main-about-p{
  align-self: center;

  & p{
    font-size: 1.5vw;
    color: azure;
  }
}

/* tercer contenedor de imagenes, se encuentra al final antes del destacado */
.main-img-jov{
  width: 80%;
  justify-self: center;
  align-self: center;

  & img{
    width: 100%;
  }
}

/* titulo destacado */
.main-about-destacado h4{
  margin-top: 10px;
  text-align: center;
  padding: .3rem;
  color: #dda15e;
}

// el destacado se encuentra en formato lista
.main-about-destacado ul li{
  font-size: 1.7vw;
  padding: .5rem;
  color: azure;
}


/* ---------------------------- Media Query for Mobile Devices (max-480) -------------------------- */
@media (max-width: 480px){
  .main-about h2{
    font-size: 2rem;
    width: 80%;
  }
  
  .main-about-sec{
    padding: .5rem;

    & h3{
      font-size: 1.5rem;
      width: 80%;
    }
  }
  .main-about-p{
    grid-column: span 2;
    padding: .3rem;
    
    & p{
      font-size: .8rem;
    }
  }

  .main-about-destacado h4{
    text-align: center;
    font-size: 1rem;
    padding: .3rem;
  }
  .main-about-destacado ul li{
    font-size: .8rem;
    padding: .5rem;
  }

  .main-about-img-right{
    display: none;
  }
  .main-img-jov{
    display: none;
  }
  .main-about-img-left img{
    width: 250px;
    height: 250px;
  }
  .main-about-destacado ul li{
  padding: .3rem;
  }

}


/* ----------------------- MEDIA QUERY (MIN: 1025) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){

  /* Sobre-Mi */
  .main-about h2{
    font-size: 3rem;
  }
  .main-about-sect h3{
    font-size: 2rem;
  }

}