/*----------------------- SECCION SOBRE MI  ------------------*/
.main-about h2{
  color: $c-letra;
  text-align: end;
  font-size: 2rem;
  width: 35%;
}

/*  seccion que contiene todo el contenido del main, menos el h2 */
.main-about-sec{
  display: grid;
  padding:1rem;

  & h3{
    grid-column: span 2;
    width: 50%;
    color: $c-letra;
    font-size: 2.5rem;
  }
}

/* contiene imagenees separadas, para poder ocultar en la vista mobile */
.main-about-img-left{
  width: 80%;
  justify-self: center;
  align-self: center;

  & img{
    width: 100%;
    padding: 1rem;
    object-fit: contain;
  }
}

// contenedor de imagenes 2
.main-about-img-right{
  width: 80%;
  justify-self: center;
  align-self: center;

  & img{
    width: 100%;
    padding: 1rem;
    object-fit: contain;
  }
}

/* contenedor de los parrafos en negro */
.main-about-p-blanco{
  align-self: center;

  & p{
    font-size: 1rem;
    color: $c-letra;
  }
}
.main-about-p-negro{
  align-self: center;

  & p{
    font-size: 1rem;
    color: $c-negro;
  }
}

/* tercer contenedor de imagenes, se encuentra al final antes del destacado */
.main-img-jov{
  width: 80%;
  justify-self: center;
  align-self: center;

  & img{
    width: 100%;
  }
}

/* titulo destacado */
.main-about-destacado h4{
  margin-top: 10px;
  text-align: center;
  padding: .3rem;
  color: $c-negro;
}

// el destacado se encuentra en formato lista
.main-about-destacado ul li{
  font-size: 1.7vw;
  padding: .5rem;
  color: $c-negro;
}


/* ---------------------------- Media Query for Mobile Devices (max-480) -------------------------- */
@media (max-width: 480px){
  .main-about h2{
    font-size: 2rem;
    width: 80%;
  }
  
  .main-about-sec{
    padding: .5rem;

    & h3{
      font-size: 1.5rem;
      width: 80%;
    }
  }
  // contenedor de letras en blanco
  .main-about-p-blanco{
    grid-column: span 2;
    padding: .3rem;
    
    & p{
      font-size: .8rem;
    }
  // contenedor de letras en negro
  .main-about-p-negro{
    grid-column: span 2;
    padding: .3rem;
    
    & p{
      font-size: .8rem;
    }
  }

  .main-about-destacado h4{
    text-align: center;
    font-size: 1rem;
    padding: .3rem;
  }
  .main-about-destacado ul li{
    font-size: .8rem;
    padding: .5rem;
  }

  .main-about-img-right{
    display: none;
  }
  .main-img-jov{
    display: none;
  }
  .main-about-img-left img{
    width: 250px;
    height: 250px;
  }
  .main-about-destacado ul li{
  padding: .3rem;
  }

  }
}


/* ----------------------- MEDIA QUERY (MIN-481 / MAX 767) -------------------------- */
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px){
  .main-about-sec h3{
    font-size: 2rem;
  }
}


/* ----------------------- MEDIA QUERY (MIN: 1025) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){

  .main-about-p-blanco p{
    font-size: 1.3rem;
  }
  .main-about-p-negro p{
    font-size: 1.3rem;
  }
  .main-about h2{
    font-size: 3rem;
  }
  .main-about-sect h3{
    font-size: 2rem;
  }

}