/*----------------------- SECCION SOBRE MI  ------------------*/
.main-about {
  @include contenedor-flex;
  &-sec {
    @include contenedor-flex;
    padding: 0;
    & h3 {
      color: $c-fondo;
      font-size: 1.3rem;
      width: 100%;
      text-align: center;
    }
  }
  &-p {
    padding: 0.3em;
    text-align: center;
    width: 90%;
    & p {
      font-size: 1rem;
    }
  }
  .main-about-destacado {
    @include contenedor-flex;
    // titulo de las menciones destacadas
    & h4 {
      text-align: center;
      font-size: 1.5rem;
      padding: 0.3em;
      color: $c-fondo;
      width: 100%;
    }
    // lista de menciones destacadas
    & ul li {
      font-size: 0.8rem;
      padding: 0.6em;
    }
  }
  .parpadeante {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    color: $c-letra;
  }

  .main {
    &-about-img {
      // oculto una imagen
      &-right img {
        display: none;
      }
      &-left {
        width: 90%;
        max-width: 400px;
        & img {
          width: 100%;
          border-radius: 15px;
        }
      }
    }
    &-img-jov img {
      display: none;
    }
    // le saco en la version mobile el hover de la imagen
    .main-about-img-left img:hover,
    .main-about-img-right img:hover,
    .main-img-jov img:hover {
      transform: none;
      pointer-events: none;
    }
  }
}
/* ----------------------- MEDIA QUERY (MIN: 768) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 768px) {
  .parpadeante {
    grid-column: span 2;
    text-align: center;
    font-size: 2rem;
  }

  .main-about {
    &-sec {
      @include contenedor-grid;
      & h3 {
        grid-column: span 2;
        width: 100%;
        text-align: start;
        font-size: 1.8rem;
      }
    }
    &-p {
      justify-self: center;
      font-size: 1.8rem;
    }
  }
}

.main-about-img{
  justify-content: center;
  &-left {
    width: 80%;
    max-width: 500px;
    justify-self: center;
    & img {
      width: 100%;
      border-radius: 15px;
    }
    &-right {
      width: 80%;
      max-width: 500px;
      justify-self: center;
      & img {
        width: 100%;
        display: block;
      }
    }
  }
  .main-img-jov{
    width: 80%;
    max-width: 500px;
    justify-self: center;
    & img {
      display: block;
      width: 100%;
    }
  }
}

.main-about-destacado {
  align-self: center;
  justify-self: center;

  & h4 {
    font-size: 2rem;
    color: $c-fondo;
    font-weight: bold;
  }
  & ul li {
    font-size: 1.4rem;
    padding: 0.3em;
  }
}
