/*--------------- SECCION VIDEOS ------------------*/
.contenedor-videos {
  text-align: center;
  @include contenedor-flex;

  & h2 {
    color: $c-letra;
    text-align: center;
    font-size: 2.5rem;
    width: 80%;
  }
  & h3 {
    color: $c-letra;
    font-size: 1.5rem;
  }
}

/*  El maun contiene un video principal (destacado) */

/* también contiene dos videos menos destacados */
.main-video {
  padding: 1em;
  width: 80%;
  & iframe {
    width: 100%;
    border-radius: 20px;
  }
  &-principal {
    width: 80%;
    & iframe {
      width: 100%;
      border: 3px dashed transparent;
      animation: titilar 1s infinite;
      border-radius: 15px;
    }
  }
}
/* Realizo dos animaciones de parpadeo sobre el video destacado */

@keyframes titilar {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: $c-negro;
  }
  100% {
    border-color: transparent;
  }
}

/* -------------- MEDIA QUERY ------------------------- */

@media (min-width: 768px) {
  .contenedor-videos {
    @include contenedor-grid;
    & h2 {
      grid-column: span 2;
    }
    & h3{
      font-size: 2rem;
    }
    & iframe{
      width: 80%;
    }
  }
  .main-about {
    &-p p {
      font-size: 0.6em;
    }
  }
  .main-video-principal {
    justify-self: center;
    text-align: center;
    grid-column: span 2;
  }

  .main-video {
    text-align: center;
    justify-self: center;
    width: 90%;
    & iframe {
      width: 100%;
    }
  }
}