/* botones de las redes*/
.btn-redes{
  margin-top: 50px;

  & button{
    margin-left: 15px;

    &:hover{
      background-color: $c-fondo2;
      color: $c-letra;
      transform: scale(1.8);
      transition: transform 0.3s ease-in-out;
    }
  }
}


/* ---------------------------- Media Query for Mobile Devices (max-480) -------------------------- */
@media (max-width: 480px){
  .btn-redes{
    margin-top: 0;
    margin-left: 20px;

    & button{
      margin: 5px 10px;

      &:hover{
        font-size:  initial;
        background-color: initial;
        transform: none;
        transition: none;
      }
    }
  }
}

