/* ----------------- FOOTER (CLASE FOOTER) -------------------- */
.footer{
  background: linear-gradient($c-negro,$c-fondo2);
  border: $c-negro solid;
  display:flex;
  justify-content: space-around;
  padding: .6rem;
}
.footer-h3{
  color: $c-letra2;
  text-align: end;
  width: 300px;
  }


/* logo del footer */
.footer-logo img{
  width: 150px;
  height: 150px;
}

/* ---------------------------- Media Query for Mobile Devices (max-480) -------------------------- */
@media (max-width: 480px){
  
  .footer{
    padding: .6rem;
  }
  .footer-logo{
    display: none;
  }
  .footer-h3{
    display: none;
  }
  
}

/* ------ MEDIA QUERY ( MIN-481 / MAX-767) --------- */
/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px){
  .footer-h3{
    display: none;
  }
}

/* -------------- MEDIA QUERY (MIN: 768 / MAX: 1024) */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .footer-h3{
    text-align: start;
  }

}