/* ----------------- FOOTER (CLASE FOOTER) -------------------- */
.footer {
  background: linear-gradient($c-negro, $c-fondo2);
  border: $c-negro solid;
  padding: 0.6em;
  @include contenedor-flex(space-evenly, row);
  align-items: center;

  &-nav ul {
    display: none;
  }
  &-redes {
    justify-self: center;
    & h3 {
      color: $c-fondo;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  /* logo del footer */
  &-logo {
    display: none;
  }
}

/* -------------- MEDIA QUERY (MIN: 768) */
/* Media Query */
@media (min-width: 768px)  {
  .footer{
    &-nav ul{
      display: block;
      list-style: none;
      width: 100%;
      padding: 0;
      & a {
      color: $c-fondo;
      font-size: 1.6rem;
    }
  }
  
  & li:hover {
    background-color: $c-fondo3;
    color: $c-letra;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    }
  /* logo del footer */
  &-logo {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 13px;
    }
  }
}
