/* ------------ CLASE DEL HEADER (CABECERA) -------- */
.cabecera {
  background: $c-header;

  &-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;

    & h1 {
      font-size: 3rem;
      text-align: center;
      align-self: center;
      text-shadow: 1px 3px $c-negro;
      color: $c-fondo;
    }
  }
}

/* foto-header */

.foto-header {
  width: 176px;
  height: 176px;
}
/*  logo-header */
.logo {
  width: 176px;
  height: 176px;
  margin-right: 5px;
}

/* Animación del encabezado */
.foto-header,
h1,
.logo {
  opacity: 0;
  animation: fade-in-animation 1s ease-in forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------- Media Query for Mobile Devices (max-480) -------------------------- */
@media (max-width: 480px) {
  .foto-header {
    display: none;
  }
  .cabecera-div h1 {
    margin-left: 0;
    font-size: 1.4rem;
  }
  .logo {
    width: 120px;
    height: 100px;
    object-fit: cover;
  }
}

/* ----------------------- MEDIA QUERY (MIN: 1025) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 481px) and (max-width: 767px) {
  .cabecera-div h1 {
    font-size: 2.5rem;
    text-shadow: 1px 3px $c-negro;
  }
}
