/* ------------ CLASE DEL HEADER (CABECERA) -------- */
.cabecera {
  background: $c-header;

  &-div {
    @include contenedor-flex(space-between, row);
    padding: 0.5em;

    & h1 {
      font-size: 1.5rem;
      text-align: center;
      align-self: center;
      text-shadow: 1px 3px $c-negro;
      color: $c-fondo;
      margin-bottom: 0;
    }
  }
}

/* foto-header */
.foto-header {
  width: 100px;
  height: 120px;
}
/*  logo-header */
.logo {
  display: none;
}

/* Animación del encabezado */
.foto-header,
h1,
.logo {
  opacity: 0;
  animation: fade-in-animation 1s ease-in forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------- Media Query (min-width:768px) -------------------------- */
@media (min-width: 768px) {
  .cabecera-div h1 {
    margin-left: 0;
    font-size: 2rem;
  }
  .foto-header {
    width: 176px;
    height: 176px;
  }
  .logo {
    display: block;
    width: 176px;
    height: 176px;
    object-fit: cover;
  }
}


