
// sección de contacto
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $c-negro;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-top: 10px;
  margin-left: 25px;
}


input[type="submit"],
input[type="reset"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: $c-negro;
  color: $c-letra;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
  background-color: $c-fondo;
  font-size: 1.5rem;
  color: $c-letra;
}

.main-form-bot input{
  border: $c-letra solid 2px;
  width: 300px;
}