/* Barra de navegacion */
.container-fluid{
  background-color: $c-fondo;
}
.navbar-collapse{
  text-align: center; 
  font-size: 1.3rem;
}
.navbar-brand{
  font-weight: bold;
  color: $c-negro;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
.navbar-brand:hover, .navbar-brand:focus{
  color: $c-letra;
}



.nav-link{
  color: $c-negro;
  margin-left: 15px;
  font-size: 1.4rem;
  font-weight: bold;

  &:hover{
    background-color: $c-negro;
    color:$c-letra2;
    border-radius: 10px;
  }
}

.navbar-toggler{
  background-color: $c-fondo2;
  border-radius: 15px;
  border: 1px solid $c-negro;
}
/* animacion de ingreso a la pagina en el navbar */
.navbar-collapse {
  transform: translateY(-100%);
  animation: slide-animation 1s ease-in forwards;
}
@keyframes slide-animation {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

/* -------------- MEDIA QUERY (MAX: 480px) */
/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 480px){
  .navbar-collapse{
    animation: none;
    transform: none;
  }
  .nav-link{
    font-size: 1rem;
  }
  .navbar-brand{
    font-size: 1.2rem;
  }
}

/* -------------- MEDIA QUERY (MIN: 768 / MAX: 1024) */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .navbar-collapse{
    text-align: center; 
    font-size: 1rem;

    &-brand{
      display: none;
    }
    .nav-link{
      font-size: 1rem;
    }
  }
}
/* ----------------------- MEDIA QUERY (MIN: 1025) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
  .navbar-collapse{
    text-align: center; 
    font-size: 1rem;
  
      &-brand{
        display: none;
      }
  }
}
