/* Barra de navegacion */
.container-fluid{
  background-color:darkmagenta;
}
.navbar-collapse{
  text-align: center; 
  font-size: 1.3rem;

  &-brand{
    font-weight: bold;
    color: #dda15e;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;

    &:hover, &:focus{
      color: #dda15e;
    }
}
}

.nav-link{
  color: white;
  margin-left: 15px;

  &:hover{
    background-color: black;
    color:bisque;
    font-size: 1.5rem;
    border-radius: 10px;
  }
}

.navbar-toggler{
  background-color: cornflowerblue;
  border-radius: 15px;
  border: 1px solid navajowhite;
}

/* -------------- MEDIA QUERY (MIN: 768 / MAX: 1024) */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .navbar-collapse{
    text-align: center; 
    font-size: 1rem;
    }
    .navbar-brand{
      display: none;
  }
}

/* ----------------------- MEDIA QUERY (MIN: 1025) ------------------------ */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
  .navbar-collapse{
    text-align: center; 
    font-size: 1rem;
  }
  
  .navbar-brand{
    display: none;
  }
  
}
